
* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box
}
.green{
border: 1px solid #bbb;
  background: #56B870
}

.main-nav{
  display: flex;
  list-style: none;
  font-size: 1.7em;
  margin: 0;
  }

  li{

    padding: 20px;
  }
  a{
    color:#f5f5f6;
    text-decoration: none;
  }
  .push{
    margin-left: auto;
  }
  #cover {
    width: auto;
    height: 100vh;
    background-image:url(pc.jpg) ;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
z-index: -1;
}


  @media screen and (max-width: 600px) {
   
    .main-nav{
      font-size: 1.2em;
      padding: 0;
    }
    
   
  }

  #course{
   display:flex;
   flex-wrap: wrap;
   
  }


  #course>div{
font-size: 20px;
margin-top: 20px;
margin-left: 100px;
padding: 20px;
width: auto;

  }

  .titl{
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    background-color: #56B870;
  }
  .sticky{
    position: fixed;
    width: 100%;
    margin: 0;
  }
  img:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }