
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.first{
  margin-top: 0px !important;
  background-image: url("program.jpg");
  margin-left: 180px;
          /* background-position: center; */
          background-repeat: no-repeat;
          background-size: 1000px;
          
}
#course{
  display: grid;
  grid-template-areas: 'myArea myArea myArea';

}
.titl{
  margin: 0;
  grid-area: myArea;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:#F6FFFB;

  
}
ul{
  list-style: none;
}

nav{
position: fixed;
	background-color: black;
	color: #00F700;
	margin-top: opx;
	display: flex;
  justify-content: center;
  position: sticky;
  
}

input{
	background-color: black;
	margin-top: 500px;
margin-left: 650px;
color:#00F700;
border-radius: 50px; 
cursor: pointer;

}

.but:hover{
color:white;

}
 a{   
	display: inline-block;
	margin-right: 50px;
  color: #00F700;
  text-decoration: none;
        }
        a:hover{
        	color: white;
        }
